*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;;
}

body{
    background: rgb(65,88,208);
    background: linear-gradient(45deg, rgba(65,88,208,1) 0%, rgba(144,83,199,1) 35%, rgba(200,80,192,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    background-color: rgb(255, 255, 255);
    width: 45%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}